<div class="details">
    <div class="container">
        <div class="detail-title">
            <h1>詳細情報</h1>
        </div>
        <div class="detail">
            <p>日時： <%= @date %></p>
            <p>議案番号：  <%= @number %></p>
            <p>区分：  <%= @nature %></p>
            <p>議題：  <%= @agenda %></p>
            <p>結果：  <%= @result %></p>
            <p>賛成数：  <%= @agreement %></p>
            <p>賛成した議員：  <%= @supporter %></p>
            <p>反対数：  <%= @opposition %></p>
            <p>反対した議員：  <%= @opponents %></p>
        </div>
    </div>
</div>